<% provide(:title, "Edit user") %> 
<% if current_user == @user %>
  <h1>Update your profile</h1>
<% else %>
  <h1>Update profile of <%= @user.name %> </h1>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <% if current_user == @user %> 
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>

      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    <% end %>
    </br></br></br></br>
    <%= form_tag( {:controller => :users, :action => :updaterole, :id => @user.id}, {:method => :put} ) do %>
      <% if current_user == owner and @user != current_user%>
        <div class="row">
          <div class="span6 offset3">
            <ul>
              <li>
              <%= check_box_tag "set_admin", "set_admin" %>
              <%= "Set as admin" %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>

      <% if current_user == owner or current_user.admin? and current_user != @user %>
      Assign Role :
      
          <ul>
            <% @all_roles.each do |r| %>
              <li>
                <%= check_box_tag "roles_names[]", r.name %>
                <%= r.name %>
              </li>
            <% end %>
          </ul>
          <%= submit_tag "Change Role" %>
      <% end %>
    <% end %>
        
  </div>
</div>
