<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


   <% if @user.domain %>
  	This user is  a part of domain: 
  	<h4><%= @user.domain.name %></h4> owned by <%= @user.domain.owner %>
   <% end %>
</br></br>
The roles of this user are
<% @user.types.each do |t| %>
  <%= t.name %> </br>
<% end %>

  
